* {
    margin: 0;
    padding: 0;
  }

#grill{
    background-color:#43464B;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.food{
    position: absolute;
    outline: 1px solid black;
}

.Steak {
    background-color: #5F021F; /*red bourdeoux*/
}

.Sausage {
    background-color: #FE642E; /*orange*/
}

.Tomato {
    background-color: #FF0000;/*red*/
}

.Veal {
    background-color: #FA5882;/*pale rose*/
}

.steakCode{
    color: #5F021F;
}
.sausageCode{
    color:#FE642E;
}

.tomatoCode{
    color:#FF0000;
}
.vealCode{
    color:#FA5882;
}

.wrapper{
    text-align: center;
    margin-bottom: 20px;
}

.infoContainer{
    display: inline-block;
    text-align: left;
    margin-left: 50px;
}

#colorCode{
    display:inline-block;
    text-align: right;
}

.selectorContainer{
    margin:20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    p{
        font-size:0.9em;
    }
    select{
        font-size: 0.9em;
    }
    .selectorContainer {
        margin: 11px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    p{
        font-size:1.2em;
    }
    select{
        font-size:1.2em;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    p{
        font-size:2em;
    }
    select{
        font-size: 2em;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p{
        font-size:2em;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p{
        font-size:2em;
    }
    select{
        font-size: 2em;
    }
}

